RewriteEngine On
RewriteBase /TomTroc/

# If the request does not match a file or directory, rewrite it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
